* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  background-image: radial-gradient(ellipse at 0 0, #ff8cef, #ffb61d);
  overflow: hidden;
}

#wrapper {
  width: 90%;
  max-width: 1340px;
  margin: 0 auto;
}

header {
  padding: 50px 0;
}

main {
  display: flex;
  gap: 2rem;
}

main > * {
  flex: 1 0 0;
}

h1 {
  font-size: 66px;
}

h1 strong {
  color: brown;
}

.upper {
  text-transform: uppercase;
}

form {
  display: flex;
  gap: 1em;
}

p {
  font-weight: 300;
}

input {
  font-family: inherit;
  border: 1px solid #28293e;
  padding: 1em;
  border-radius: 6px;
}

input[type="submit"] {
  background: #031d44;
  color: white;
}

input[type="text"] {
  background: transparent;
}

input[type="text"]::placeholder {
  color: #28293e;
}

.animation {
  position: relative;
}

.animation img {
  position: absolute;
}

.animation img:nth-child(1) {
  top: 100px;
  left: 10px;
  animation: float 2s infinite alternate;
}

.animation img:nth-child(2) {
  top: 100px;
  right: -10px;
  animation: float 3s infinite alternate;
}

.animation img:nth-child(3) {
  top: 0;
  right: 0;
  animation: float 4s infinite alternate;
  z-index: 1;
}

.animation img:nth-child(4) {
  top: 150px;
  right: -20px;
  animation: float 3s infinite alternate;
}
.animation img:nth-child(5) {
  top: 60px;
  right: -70px;
  animation: float 3s infinite alternate;
}
.animation img:nth-child(6) {
  top: 130px;
  left: 20px;
  animation: float 3s infinite alternate;
}

@keyframes float {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(-10px, -30px);
  }
}
